
# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf

# 8 space indentation for assembly files
[*.asm]
indent_style = tab
indent_size = 8
