
# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf

# 4 space indentation for 68k assembly files
[src/*.asm]
indent_style = tab
indent_size = 4

# 8 space indentation for Z80 assembly files
[src/z80/*.asm]
indent_style = tab
indent_size = 8
